{% extends 'blogApp/index.html' %}
{% load static %}
{% block content %}
<div class="homepage">
    <nav>
        <div class="menu">
            <div class="site-name">
                <p>ECEM BEYZA AYDIN</p>
            </div>
            <div class="sign_in-login">
                <div class="sign_in"><p>Giriş Yap</p></div>
                <div class="login"><p>Üye Ol</p></div>
                <div class="user" style="color: white;margin-right: 1vw;"> <p style="border: none;">Hoşgeldiniz:  Harun Reşit KARAHAN</p></div>
                <div class="exit" style="background-color: white;"> <p style="color: rgb(214, 93, 93);">Çıkış Yap</p></div>

            </div>
        </div>
    </nav>
    <div class="big-screen">
        <div>
            <h1 style="margin: 0;font-size: 5.5vw;font-weight: 700;color:rgb(235, 74, 74);">ECEM BEYZA AYDIN  </h1>
            <h1 style="margin: 0;font-size: 5.5vw;font-weight: 700;color:rgb(235, 74, 74);">BLOG SAYFASI</h1>
            <p style="font-size: 2vw;font-weight: 500;color:rgb(255, 255, 255);">Blog Sayfama Hoşgeldiniz !</p>
        </div>
        <!-- <img width="100%" src="{% static 'blog_app/images/background.jpg' %}" alt="Screen Image"> -->
    </div>
    <div class="container-fluid" align="center">
        <div class="row">
            <div class="col-12">
                <div class="blogs">
                    <div class="blogs-items">
                        <h4 style="text-align: left;">YAZILIM</h4>
                        <p>Değişen dünya koşulları ve sürekli gelişen teknolojiyle artık dijital bir çağda yaşadığımız reddedilemez bir gerçek. Bilgisayarın icadından beri süregelen yıllarda birden çok yazılım dili geliştirildi ve geliştirilmeye devam ediliyor. Bu yazılımlar şu an kullandığım bir çok şeyin yaratıcıları. Yazılımın önemi su götüremez bir gerçek. Günümüzde bile yazılım geleceğin mesleklerinden ve işlerinden biri sayılıyor. Her yıl inanılmaz bir hızla gelişen teknoloji hayatımıza girmeye devam ediyor ve tahminlere göre de ilerleyen yıllarda katlanarak girmeye devam edecek. Hal böyle olunca günümüzde bir çok insan yazılım alanına ilgilerini kaydırmış durumda. Peki yazılım neden önemlidir?</p>
                        <br>
                        <p>Yazılım sayesinde şu an kullandığımız bir çok teknolojik aleti kullanmaya başladık ve kullanmaya devam ediyoruz. Her yıl çıkan yeni teknolojik aletler ve bilgisayarda kullandığımız programlar yazılım dilleri üzerinden geliştiriliyor. İlerleyen yıllarda teknolojini daha da ilerleyeceğini düşünürsek bugünden itibaren yazılım öğrenmenin önemini kolayca anlayabiliyoruz.</p>
                    </div>
                    <div class="blogs-items">
                        <h4 style="text-align: left;">Kodlama hakkında 5 eğlenceli gerçek</h4>
                        <p>1.700’den fazla farklı programlama dili vardır! Kodlama dillerini düşündüğünüzde, JavaScript’ten Python’a ve daha fazlasına,kolaylıkla bir avuç dolusu zaman harcarsınız.</p>
                        <br>
                        <p>İlk bilgisayar virüsü 1982’de 15 yaşındaki bir genç tarafından oluşturuldu. Apple II bilgisayarları etkilemek için tasarlandı. Yazar bunu “aptalca küçük bir şaka” olarak nitelendirdi. İlk bilgisayar virüsü hiçbir şekilde zararlı olacak şekilde tasarlanmamıştı.</p>
                        <br>
                        <p>3. Dünyada kodlayıcı unvanına sahip ilk kişi Ada Lovelace adında bir kadındı. 1815’te doğdu ve bazı insanlar Ada’nın bir makineyi çalıştırmak için ilk algoritmayı yayınladığına inanıyor. Ada, “Benim beynim ölümlü olmanın ötesinde, zamanla anlayacaksınız” diyerek farkını göstermiş oldu.</p>
                        <br>
                        <p>4. Kodlamanın ardında elektrikle çalışan neredeyse her şey var. Kodlar her yerdedir. Bununla birlikte, ilk bilgisayar Jakarlı dokuma tezgahı adı verilen otomatik, mekanik bir dokuma tezgahı olduğu için elektrik kullanmadı.</p>
                        <br>
                        <p>5. İlk “hata(bug)”, gerçek bir hata nedeniyle bulundu. Grace Hopper devrelerin arasında bir böcek(bug) buldu. Yaptığı Harvard Mark II bilgisayarı, sistemde gerçek bir hata keşfettiğinde başarısız olmaya başladı. O zamandan beri, yazılımda veya donanımda bir şey arızalandığında buna “bug” diyoruz.</p>
                    </div>
                </div>
                <div class="blogs">
                    <div class="blogs-items">
                        <h4 style="text-align: left;">BİLİM</h4>
                        <p>Bilim denince insanın aklına ilk etapta Fizik, fen bilimleri gelmektedir. Çünkü genellikle öğrencilik yıllarında yaşadığımız tecrübeler bilimsel çalışmaların bu alanlarda yapıldığını ortaya koymaktadır. Aslında bilim sadece fen ile alakalı bir olgu değildir. Doğada olan olaylar, maddelerin yapıları ile ilgili olaylar, hayatımızı kolaylaştıran küçükte olsa farklı buluşlar, kısacası gözlem ve gözleme dayalı dünya ile alakalı olguları birbirine bağlayan yasalardır.</p>
                        <br>
                        <p>Bilimin gelişmesinin en büyük sebebi de insanlardaki meraktır. Öyle ki her şeyi merak eden insanlar toplumda bilim adamı olarak adlandırılmakta veya bilim adamı lakabı takılmaktadır. Zaten merak olmasa insan yeni bir buluş icat etmek için bir amaç sahibi olamayacağından dolayı eğer merak denen bir olgu olmasa hiçbir icat, buluş vb. gibi bilim adına bir şey olması söz konusu olamazdı. Bilimin bu kadar önemli ve değerli olduğu bu dönemde Türk bilim adamlarımızı Amerikanın kapmasının da çok manidar olduğunu görmemek mümkün değildir.</p>
                    </div>
                </div>
                <div class="blogs blogs-three" style="grid-template-columns: auto auto auto;">
                    <div class="blogs-items">
                        <h4 style="text-align: left;">Sanat</h4>
                        <p>Bir çoğumuz sanatın anlamsız olduğunu inanıyor olabiliriz, ama sanatçıların toplumlarına, doğalarına ve yaşamlarını sanatsal bir ortamın kullanımıyla gösterdikleri duygulara karşı ifade ettiklerini bilmiyoruz, örneğin bir resim veya bir müzik parçası gördüğümüzde, sanatçı, içinde yaşadığı devletten özgürleşiyor. Korku, endişe, öfke, uzun süreli duygular ve hislerin bastırılması ya da herhangi bir his onu psikolojik istikrara götürmek için araçtır diye düşünebiliriz, bu yüzden sanatın insan yaşamındaki önemi şu an içinde yaşadığımız dünya maddi boyutlara bağlıdır…</p>
                        <br>
                        <p>Sanatın bu yönleriyle hiçbir ilgisi yoktur, insanın içsel manevi yönlerini yaşamının fiziksel yönleriyle dengelemek için çalışırlar.</p>
                        <br>
                        <p>İnsan yaşamında yapılan her yaratıcılık, insanın özü ve iradesi olan estetik değere sahip olan sanat olarak adlandırılır.</p>    
                    </div>
                    <div class="blogs-items" style="margin-right: 20px;">
                        <h4 style="text-align: left;">Piyano</h4>
                        <p>Asıl adı “pianoforte” olan bu müzik aleti “kuvvetli ses” (forte) ve “düşük ses” (piano) anlamına gelen İtalyanca kelimelerden oluşmuştur. Telli çalgılar kate;risine dahil olan bu enstrümanda 36 siyah ve 52 beyaz olmak üzere toplam 88 tuş bulunmaktadır. Bu tuşlara bağlı olan bir çekiç mekanizması, gerilmiş ve akortlanmış tellere vurarak ses çıkartır. 1700’lü yıllarda ortaya çıkan piyano “çembalo” adında bir enstrümanın geliştirilmesiyle ortaya çıkmıştır. Çembalo’da da tuşlar ve teller vardır ancak sesin şiddetini kontrol etmek mümkün değildir. İlk piyano İtalya’nın Floransa şehrinde Bartolommeo Cristofori tarafından yapılmıştır. Klasik müziğin önemli temsilcilerinden J.S. Bach’ın da bir çembalo tamircisi olarak ilk piyanoyu denediği bilinmektedir…</p>
                        <br>
                        <p>Dünya üzerinde birçok bilim insanı müzik eğitiminin çocuk gelişimi üzerindeki etkilerini araştırmıştır. Ortaya çıkan sonuçlar son derece önemlidir. Çünkü müzik eğitimi alan çocukların özellikle matematik geometri gibi sayısal derslerde çok daha başarılı olduğu belirlenmiştir.</p>    
                    </div>
                    <div class="blogs-items">
                        <h4 style="text-align: left;">Software Art</h4>
                        <p>Sanatçılar tarafından sanat eseri olarak sergilenmek amacıyla oluşturulmuş yazılım uygulamaları gibi, yazılımın veya yazılımla ilgili kavramların önemli rol oynadığı sanat biçimlerine denir.</p>    
                        <br>
                        <p>Yazılım sanatı 1990'ların sonlarından itibaren sanatsal bir disiplin olarak yer edinmeye başlamıştır. Yayımlanması ve tartışılması sık sık WWW üzerinden yapıldığı için internet sanatı ile de yakından bağlantılıdır. World Wide Web'deki bilgiye alternatif sunumlar getiren tarayıcı sanatı ('browser art'), hem internet hem de yazılım sanatı kapsamına sokulabilecek bir örnektir.</p>
                        <br>
                        <p>2000 yılından sonra yazılım sanatına verilen önem artmış, Transmediale (Berlin), Prix Ars Electronica (Linz) ve readme (Helsinki) gibi uluslararası sanat festivallerinde kendine önemli bir yer bulmuştur. Böylelikle daha geniş bir eleştirmen ve akademisyen kitlesine ulaşmıştır. Bu gelişmelerin yanı sıra, henüz çok yeni olması nedeniyle, yazılım sanatının ayrı bir sanat dalı olarak geçici bir akım olup olmadığı tartışma konusudur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards" id="login">
        <div class="cards-card">
            <div class="body">
                <div class="register">
                    <div class="head">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg>
                        <span>Giriş Yap</span>
                    </div>
                    <div class="input">
                        <label for="admin-id">Kullanıcı Adı: </label>
                        <input type="text" name="admin-id">
                    </div>
                    <div class="input">
                        <label for="password">Şifre: </label>
                        <input type="password" name="password" maxlength="15">
                    </div>
                    <div class="send login-button">
                        <p>Giriş Yap</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cards" id="register">
        <div class="cards-card">
            <div class="body">
                <div class="register">
                    <div class="head">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg>
                        <span>Kayıt Ol</span>
                    </div>
                    <div class="input">
                        <label for="admin-id">Kullanıcı Adı: </label>
                        <input type="text" name="register-admin-id">
                    </div>
                    <div class="input">
                        <label for="name">İsim: </label>
                        <input type="password" name="name" maxlength="15">
                    </div>
                    <div class="input">
                        <label for="e-posta">E-posta: </label>
                        <input type="text" name="e-posta">
                    </div>
                    <div class="input">
                        <label for="password">Şifre: </label>
                        <input type="password" name="register-password" maxlength="15">
                    </div>
                    <div class="send register-button">
                        <p>Kayıt Ol</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div>Ecem Beyza AYDIN</div>
    </footer>
</div>
{% endblock %}